<div [formGroup]="profileForm">
    <div class="formRow">
        <md-input-container>
            <input mdInput placeholder="Name" [formControl]="profileForm.get('name')">
        </md-input-container>
    </div>
    <div class="formRow">
        <md-input-container>
            <input mdInput placeholder="Phone" [formControl]="profileForm.get('phone')">
        </md-input-container>
    </div>
    <div class="formRow">
        <md-select placeholder="Office" [formControl]="profileForm.get('officeUri')">
            <md-option *ngFor="let office of offices" [value]="'api/addresses/' + office.id">{{ office.address }}</md-option>
        </md-select>
    </div>
    <div class="formRow">
        <app-address-control [formControl]="profileForm.get('home')" [office]="profileForm.get('office')"></app-address-control>
    </div>
    <div class="formRow">
        <md-slide-toggle checked="profileForm.get('driver')"  [formControl]="profileForm.get('driver')">IS DRIVER</md-slide-toggle>
    </div>
    <div class="formRow">
        <md-slide-toggle checked="profileForm.get('active')"  [formControl]="profileForm.get('active')">IS ACTIVE</md-slide-toggle>
    </div>
    <div class="formRow">
        <button md-raised-button [disabled]="profileForm.invalid" (click)="updateProfile()">Update</button>
        <button md-raised-button (click)="openSetDepartingTime()" [disabled]="!(profileForm.get('active').value && profileForm.get('driver').value)"><md-icon>Notify about departing</md-icon></button>
    </div>
</div>
