<table class="table table-striped" [rtList]="getUsers" #list="rtList">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Active</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of list.items">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td><i>TBD</i></td>
            <td>
                <md-icon *ngIf="user.active">check_box</md-icon>
                <md-icon *ngIf="!user.active">check_box_outline_blank</md-icon>
            </td>
            <td>
                <a md-icon-button><md-icon>person_pin_circle</md-icon></a>
                <a md-icon-button><md-icon>mode_edit</md-icon></a>
                <button md-icon-button color="warn"><md-icon>delete</md-icon></button>
            </td>
        </tr>
    </tbody>
</table>
